.contact {
    padding: 10px;
    margin: 0;
    background-color: rgb(7, 13, 73);
}

.contact h1 {
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

.contact1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-bottom: 80px;
    justify-items: center; 
}

.contact1 img {
    width: 4rem;
    height: 4rem;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
}

.contact1 img:hover {
    transform: scale(1.5);
    box-shadow: 15px 15px 25px 0 rgba(0, 0, 0, 0.7); 
}

.gmail img {
    border-radius: 0;
}

.contact1 .instagram,
.contact1 .facebook,
.contact1 .linkedin,
.contact1 .gmail {
    text-align: center;
}

.contact1 a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold; 
    font-size: 1rem;
}

.contact1 a:hover {
    text-decoration: underline;
    color: lightblue;
}
